<html>
  <head>
    <meta charset="UTF-8">
  </head>
</html>

<body>
  <h1>Crescent</h1>
  <p>
    <form action="/words" method="get">
      <input type="text" name="search">
      <input type="submit" value="検索">
    </form>
  </p>
  <table>
    <tr>
      <td>id
	<a href=<%= url_order('id') %>>^</a>
	<a href=<%= url_order('id%20desc') %>>V</a>
      </td>
      <td>name
	<a href=<%= url_order('name') %>>^</a>
	<a href=<%= url_order('name%20desc') %>>V</a>
      </td>
      <td>category
	<a href=<%= url_order('category') %>>^</a>
	<a href=<%= url_order('category%20desc') %>>V</a>
      </td>
      <td>value
	<a href=<%= url_order('value') %>>^</a>
	<a href=<%= url_order('value%20desc') %>>V</a>
      </td>
    </tr>
    <% @words.each do |word| %>
      <tr>
	<td><%= word.id %></td>
	<td><%= word.name %></td>
	<td><%= @category_hash[word.category] %></td>
	<td><%= word.value %></td>
      </tr>
    <% end %>
  </table>
  <table>
    <tr>
      <%= paginate @words %>
    </tr>
  </table>
</body>
